IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.lista {
    height: 5em;
    position: relative; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
    #botao{ text-align: center }


.login{
        text-align: center;
        padding: 5px 10px;
        border: 1px solid #eee;
    }

.my-custom-menu {
  --width: 500px;
}