
<ion-header>
  <ion-toolbar class="teste" color="primary">
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <div class="center">
      <IMG class="displayed" src="assets/logo.png" >
    </div>
  <form class="lista">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="usuario.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="usuario.senha"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        <a routerLink='/login'>Fazer login</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="primary" (click)="CadastrarUsuario()" routerLink='/login'>Cadastrar</ion-button>