<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="center">
      <IMG class="displayed" src="assets/logo.png" >
    </div>
  <form class="lista">
    <ion-list >
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input autocomplete="off" type="text" name="username" 
        [(ngModel)]="usuario.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input autocomplete="off" type="password" name="password" 
        [(ngModel)]="usuario.senha"></ion-input>
      </ion-item>
    </ion-list>

    <div class="login">
      <ion-button expand="block" share="round" color="primary" (click)="LoginUsuario()"
       routerLink='/home"'>Login</ion-button>
    </div>

    <ion-item lines='none'>
      <a routerLink='/cadastro'>Criar uma conta</a>
    </ion-item>
  </form>
</ion-content>