<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Conversa com {{nomeuser}}</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item *ngFor="let msg of listamensagens">
          <app-chat-bubble *ngIf="msg.de==usuario && msg.para==usuariomensagem" [mensagem]="msg" [p]="'left'" ></app-chat-bubble>
          <app-chat-bubble *ngIf="msg.para==usuario && msg.de==usuariomensagem" [mensagem]="msg" [p]="'right'" ></app-chat-bubble>
        </ion-item>
      </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
<ion-item no-lines>
  <ion-input type="text" [(ngModel)]="mensagem.texto" (keyup.enter)="PostarMensagem(mensagem.texto); mensagem.texto=''" name="txtmensagem"></ion-input>
   <ion-button (click)="PostarMensagem(mensagem.texto); mensagem.texto=''">
     <ion-icon name="send"></ion-icon>
   </ion-button>
</ion-item>
  </ion-toolbar>
</ion-footer>



