<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Localização de {{nomeuser}}</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
    <div id="map" style="height: 50%;"></div>
</ion-content>
