<ion-header class="topo">
    <ion-toolbar>
      <ion-buttons slot="primary">
          <ion-button slot="icon-only" name="btnGPS" (click)= "onGPSClick()">
          <ion-icon name="locate"></ion-icon>
          </ion-button>
      </ion-buttons>
        <ion-title>
          Minha localização
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <h3>Geolocalização</h3> 
    <div id="map" style="height: 100%;"></div>

</ion-content>
