<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
      
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="success">Login</ion-button>
  </form>
  <p text-center>Não tem uma conta?</p>
  <ion-button expand="full" color="secondary" (click)="registerModal()">Cadastre-se</ion-button>
</ion-content>