<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-list class="lista">
    
  <ion-item (click)="irparaMensagens(usuario.userid)" *ngFor="let usuario of listausuarios">
      <ion-item>
          <ion-avatar slot="start">
            <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y">
          </ion-avatar>
          <ion-label>{{usuario.nome}}</ion-label>
        </ion-item>
  </ion-item>
</ion-list>

<ion-button class="btnsair" (click)="Logout()">Sair</ion-button> 
</ion-content>
