<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="center">
    <IMG class="displayed" src="assets/logo.png" >

    <div class=container1>
      <p>Bem vindo ao Chat Cest!
    </div>

    <div class="btnconversas">
        <ion-button [routerLink]="['/usuarios']" routerDirection="forward" color="secondary">Contatos</ion-button> 
    </div>

    <div class="btngeo">
      <ion-button [routerLink]="['/geo']" routerDirection="forward" color="tertiary">Minha localização</ion-button> 
    </div>

    <div class="btnsair">
        <ion-button (click)="Logout()" color="primary">Sair</ion-button> 
    </div>
  </div>

</ion-content>
